body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  color: #66d9ef;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 2em;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #282828;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

li:not(:last-child) {
  border-bottom: 1px solid #444;
}

blockquote {
  background-color: #282828;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 2em;
}

code {
  background-color: #282828;
  border-radius: 5px;
  padding: 0.5em;
  font-family: monospace;
}

pre {
  overflow: auto;
  padding: 1em;
  background-color: #282828;
  border-radius: 5px;
  margin-bottom: 2em;
}

a {
  color: #66d9ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #444;
}

th {
  background-color: #282828;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #2a2a2a;
}

tr:nth-child(odd) {
  background-color: #1a1a1a;
}
